/*Постійні клієнти*/
.clients {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.clients__item {
    display: flex;
    width: calc((100% - 30px)/2);
    height: 92px;
    

    @media screen and (min-width: 768px) {
    width: calc((100% - 60px)/3);
    // height: 92px;
    }
    
    @media screen and (min-width: 1200px) {
    width: calc((100% - 150px)/6);
    // height: 92px;
     }
}

.clients__link {
    display: flex;
    width: 210px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: var(--white-txt-cl);
    fill: #afb1b8;

    transition: fill var(--animation), border var(--animation);

    @media screen and (min-width: 768px) {
    width: 226px;
    }
    
    @media screen and (min-width: 1200px) {
    width: 170px;
    }

&:hover,
&:focus {
    fill: var(--accent-txt-cl);
    border: 1px solid var(--accent-txt-cl);
}
}

.clients__icon {
    width: 106px;
    height: 60px;
}
