.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--accent-bg-cl);
    
    @media screen and (min-width: 768px) {
            padding-top: 65px;
        }
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    
    @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
        }
}

.footer-box {
    
@media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 165px;
    align-items: baseline;
    
}

@media screen and (min-width: 1200px) {
    gap: 0;
}
}

.footer-info {
    
    display: flex;
    text-align: center;
align-content: center;
flex-direction: column;

margin-bottom: 60px;

@media screen and (min-width: 768px) {
margin-bottom: 0;
text-align: center;
    }

@media screen and (min-width: 1200px) {
    width: 231px;
    // margin-right: 70px;
        flex-grow: 1;
        margin-bottom: 0;
        text-align: left;
    }
}

.address {
    margin-top: 20px;
}

// .footer-contacts {
//     display: block;
// }

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts__link-map {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white-txt-cl);
    text-decoration: none;
}

.footer-contacts__link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color var(--animation);

&:hover,
&:focus,
&.active {
    color: var(--accent-txt-cl);
}
}

.footer-social {
// margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        margin-right: 93px;
        }
    
}

.footer__title {
    margin-bottom: 20px;
display: flex;
justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);

    @media screen and (min-width: 1200px) {
            justify-content: left;
        }
}

.footer-social__list {
    display: flex;
    gap: 10px;
}

.footer-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-txt-cl);

    transition: background-color var(--animation);

&:hover,
&:focus {
    background-color: var(--accent-txt-cl);
}
}

.footer-social__icon {
    width: 20px;
    height: 20px;
}

.footer-subscribe {
    width: 100%;
    
    margin-top: 60px;

@media screen and (min-width: 768px) {
    //  width: calc(100% - 30px);
// margin-left: auto;
// margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
            margin-top: 0;
        }
}

.form-subscribe {
    display: flex;

flex-direction: column;
align-items: center;

    margin-top: 20px;
    
    @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: baseline;
            gap: 12px;
        }
}

.footer-form {
    width: calc(100% - 30px);

    @media screen and (min-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }
}

.form-subscribe__input {
    width: 100%;
  
    height: 50px;
    padding: 15px 16px;
    margin: 0;
margin-bottom: 20px;    

    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: var(--accent-bg-cl);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

@media screen and (min-width: 768px) {
        width: calc(100% - 318px);
        align-content: center;
        margin-left: 166px;
       
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;   
        margin-bottom: 0;
           width: 358px;
        }
}

.footer-button {
    display: flex;
    gap: 10px;
    // width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
 
    padding-left: 31px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    // padding: 10px 28px;

    color: var(--white-txt-cl);
    background-color: var(--accent-txt-cl);

    border-radius: 4px;
    cursor: pointer;

&:hover,
&:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

.footer-button__icon {
    fill: var(--white-txt-cl);
}
