/*Header*/
.header {
    // width: 480px;
    // height: 60px;

    display: block;
    align-items: center;

@media screen and (min-width: 768px) {
    
    height: 80px;   
    border-bottom: 1px solid #ececec;
    }
    @media screen and (min-width: 1200px) {
    
    height: 80px;
    border-bottom: 1px solid #ececec;
    }
        }



  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;
    // margin-left: 276px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
            display: none;
        }
  }

  
.header__container {
    display: flex;
flex-direction: row;
align-items: center;
height: 60px;

    @media screen and (min-width: 768px) {
            height: 80px;
            align-items: center;
        }
    
        @media screen and (min-width: 1200px) {
          
        }
}

.header-menu {
    display: none;

    @media screen and (min-width: 768px) {
            display: flex;
        margin-left: 88px;
            margin-right: auto;
        }
    
    @media screen and (min-width: 1200px) {
            margin-left: 92px;
            margin-right: auto;
        }

}

.header-nav__link {
    @media screen and (min-width: 768px) {
        position: relative;
        
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--main-txt-cl);
        
        transition: color var(--animation);
        }
    
        @media screen and (min-width: 1200px) {
        position: relative;
            
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--main-txt-cl);
            
        transition: color var(--animation);
        }
    
}

.header-nav__link--active::after {
   
    @media screen and (min-width: 768px) {
        content: '';
        position: absolute;
        left: 0;
        bottom: -33px;
        
        display: block;
        height: 4px;
        width: 100%;
        
        background-color: var(--accent-txt-cl);
        border-radius: 2px;
        border: transparent;
        }
    
        @media screen and (min-width: 1200px) {
        content: '';
        position: absolute;
        left: 0;
        bottom: -33px;
        
        display: block;
        height: 4px;
        width: 100%;
        
        background-color: var(--accent-txt-cl);
        border-radius: 2px;
        border: transparent;
        }  
}

.header-nav__link:hover,
.header-nav__link:focus,
.header-nav__link--active {
    @media screen and (min-width: 768px) {
    color: var(--accent-txt-cl);
    }
    
    @media screen and (min-width: 1200px) {
     color: var(--accent-txt-cl);
    }
    
}

.header-nav {
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    }
    
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    }
}

.header-contact {
    display: none;

@media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    
    }

@media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        list-style: none;
        margin: 0px;
        padding: 0px;
        // margin-left: 315px;
    }
}

.header-contact__item {
    display: none;
    @media screen and (min-width: 768px) {
            display: block;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 10px;
        }
}

.header-contact__link {
    display: none;
    @media screen and (min-width: 768px) {
            display: flex;
            gap: 10px;
            align-items: center;
            font-weight: 500;
            font-size: 12px;
            line-height: calc(14 / 12);
            letter-spacing: 0.02em;
            color: var(--light-txt-cl);
            list-style: none;
            text-decoration: none;
            
            transition: color var(--animation);
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 10px;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: calc(16 / 14);
            letter-spacing: 0.02em;
            color: var(--light-txt-cl);
            list-style: none;
            text-decoration: none;
            
            transition: color var(--animation);
        }

}

.header-contact__link:hover,
.header-contact__link:focus {
    @media screen and (min-width: 768px) {
            color: var(--accent-txt-cl);
            fill: var(--accent-txt-cl);
        }
    
        @media screen and (min-width: 1200px) {
            color: var(--accent-txt-cl);
            fill: var(--accent-txt-cl);
        }
     
}

.header-contact__icon-envelope {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        width: 14px;
        height: 10px;
        justify-content: center;
        align-items: center;
        fill: var(--light-txt-cl);
        fill: currentColor;
        }
    
        @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
        }
    
}

.header-contact__icon-smartphone {
    display: none;
    @media screen and (min-width: 768px) {
            display: flex;
            width: 10px;
            height: 14px;
            justify-content: center;
            align-items: center;
            fill: var(--light-txt-cl);
            fill: currentColor;
        }
    
        @media screen and (min-width: 1200px) {
            height: 16px;
        }
    
}