.hero {
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_s-@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 400px;
    
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 94px;
    padding: 118px 0;
    text-align: center;

    @media screen and (max-width: 480px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_s-@1x.jpg);
    height: 400px;

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_s-@2x.jpg);
}
} 

   @media screen and (min-width: 481px) {
    // max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_m-@1x.jpg);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_m-@2x.jpg);
        }
}

@media screen and (min-width: 769px) {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_l-@1X.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_l-@2x.jpg);
    }
}

    @media screen and (min-width: 1200px) {
        // max-width: 1600px;    
        height: 600px;

        padding-top: 200px;
        padding-bottom: 200px;
        }
}

.hero__title {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-cl);

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: calc(60 / 44);
        }
}

.hero__btn {
    
    min-height: 50px;
    padding: 10px 24px;
    margin: auto;
    border: none;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    display: flex;

    border-radius: 4px;

    background-color: var(--accent-txt-cl);
    color: var(--white-txt-cl);
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--animation);

    @media screen and (min-width: 1200px) {
            padding: 10px 32px;
        }

&:hover,
&:focus,
&.active {
    background-color: var(--btn-hover-cl);
}
}