.portfolio-button__btn {
    margin-left: auto;
    margin-right: auto;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 4px 22px;
    background-color: var(--btn-cl);
    color: var(--main-txt-cl);
    cursor: pointer;

    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);

&:hover,
&:focus,
&.active {
    color: var(--white-txt-cl);
    background-color: var(--btn-hover-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.portfolio-button {
    display: flex;

    margin-bottom: 40px;
    
    flex-wrap: wrap;
    row-gap: 15px;

    @media screen and (min-width: 768px) {
            justify-content: center;
            margin-bottom: 30px;
        }

    @media screen and (min-width: 1200px) {
            justify-content: center;
            margin-bottom: 50px;
        }
}

.portfolio-button__item {
    display: flex;
    flex-wrap: wrap;  
}

.portfolio-button__item:not(:last-child) {
    margin-right: 8px;
}
