/*Portfolio*/
.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    
    width: 450px;

        @media screen and (min-width: 768px) {
            width: calc((100% - 30px)/2);
        }

        @media screen and (min-width: 1200px) {
        width: calc((100% - 60px)/3);
        }
}

.portfolio__link {
    position: relative;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;

    transition: box-shadow var(--animation);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__title {
    margin-bottom: 4px;
    
    color: var(--main-txt-cl);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.portfolio__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--light-txt-cl);
}

.portfolio__part-down {
    // display: flex;
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.portfolio__part-up {
    position: relative;
    overflow: hidden;
    // height: 294px;
}

.portfolio__text-overlay {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-txt-cl);

    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);

    padding: 78px 24px;

    transition: transform var(--animation);

.portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0);
    }
}


