/*Register form*/
.register-form {
    padding: 40px;
}

.register-form-title {
    display: block;
    text-align: center;

    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);

    @media screen and (min-width: 768px) {
            // width: calc(100% - 30px);
        }


    @media screen and (min-width: 1200px) {
        font-size: 20px;
        line-height: calc(23 / 20);
        }
}

.register-form-group {
    margin-bottom: 20px;
}

.register-form-field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.register-form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--light-txt-cl);
}

.register-form-input {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition: border-color var(--animation);
}

.register-form-input:focus,
.register-form-input:focus+.register-form-icon,
.register-form-input:not(:placeholder-shown) {
    border-color: rgba(33, 150, 243, 0.9);
    fill: rgba(33, 150, 243, 0.9);
}

.register-form-input::placeholder {
    opacity: 0;
    transition: opacity var(--animation);
}

.register-form-input:focus::placeholder {
    opacity: 1;
}

.register-form-icon {
    position: absolute;
    top: 29px;
    left: 12px;
    fill: var(--main-txt-cl);

    transition: fill var(--animation);
}

.register-form-heading {
    display: block;
    text-align: justify;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--light-txt-cl);
}

.register-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.register-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    border-color: rgba(117, 117, 117, 0.5);
}

.register-form-message:focus,
.register-form-message:not(:placeholder-shown) {
    border-color: rgba(33, 150, 243, 0.9);
}

.register-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-bottom: 30px;
}

.icon-checked {
    opacity: 0;
}

.register-form-checkbox:checked+.register-form-icons .icon-checked {
    opacity: 1;
}

.icon-unchecked {
    transition: opacity var(--animation);
}

.register-form-checkbox:checked+.register-form-icons .icon-unchecked {
    opacity: 0;
}

.register-form-checkbox:focus+.register-form-icons .icon-unchecked {
    outline: 2px solid var(--accent-bg-cl);
    outline-offset: 1px;
    border-radius: 2px;
}

.register-form-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);

    letter-spacing: 0.03em;
    color: var(--light-txt-cl);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24 / 14);
        }
}

.register-form-link {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);

    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-txt-cl);

    @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: calc(24 / 14);
        }
}

.register-form-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    border-radius: 4px;

    color: var(--white-txt-cl);
    background-color: var(--accent-txt-cl);
    cursor: pointer;

    transition: background-color var(--animation);

&:hover,
&:focus,
&.active {
    background-color: var(--btn-hover-cl);
}
}